.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
    padding-bottom: 5px;
    margin-right: 6px;
}
.product h4{
    color: blue;
    font-weight: 400;
}
.product img{
    margin: 10px;
}
.product-btn{
    background-color: rgb(233, 188, 75);
    width: 190px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
    cursor: pointer;
}